index.css:root {
  --bg: #282c34;
  /* --header: #ffffff7c;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88); */
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Global styling for headers, links, etc. */
h1 {
  color: var(--header);
  text-align: center;
  margin-top: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Additional global styling */
main {
  padding: 20px;
}

/* Default light theme */
.app.light {
  background-color: #ffffff;
  color: #000000;
}

/* Dark theme */
.app.dark {
  background-color: #333333;
  color: #ffffff;
}

/* Button styles */
button {
  border: none;
  background-color: #000000;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}