/* LoginForm.css */
h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.login-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.login-form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.login-form-button {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.login-form-button:hover {
    background-color: #45a049;
}

.login-form-error {
    color: #520012;
    text-align: center;
    margin-bottom: 10px;
}


button:hover {
    background-color: #520012;
}